@{
    Layout = null;
}

<style>
	#address select{
		width: 100px;
		margin-left: 20px;
	}
</style>

<div id="address"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#address").ProvinceCity();
    });
</script>