@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="on">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>后台管理中心</title>
<link href="/Content/admin/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/Content/admin/css/zh-cn-system.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/Content/admin/css/style/zh-cn-styles1.css" title="styles1" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/Content/admin/css/style/zh-cn-styles2.css" title="styles2" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/Content/admin/css/style/zh-cn-styles3.css" title="styles3" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/Content/admin/css/style/zh-cn-styles4.css" title="styles4" media="screen" />
<script language="javascript" type="text/javascript" src="/Content/admin/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/Content/admin/js/styleswitch.js"></script> 
<script language="javascript" type="text/javascript" src="/Content/admin/js/hotkeys.js"></script>
<script language="javascript" type="text/javascript" src="/Content/admin/js/jquery.sgallery.js"></script>
<script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>
<style type="text/css">


.objbody{overflow:hidden}

.btns{background-color:#666;}
.btns{position: absolute; top:116px; right:30px; z-index:1000; opacity:0.6;}
.btns2{background-color:rgba(0,0,0,0.5); color:#fff; padding:2px; border-radius:3px; box-shadow:0px 0px 2px #333; padding:0px 6px; border:1px solid #ddd;}
.btns:hover{opacity:1;}
.btns h6{padding:4px; border-bottom:1px solid #666; text-shadow: 0px 0px 2px #000;}
.btns .pd4{ padding-top:4px; border-top:1px solid #999;}
.pd4 li{border-radius:0px 6px 0px 6px; margin-top:2px; margin-bottom:3px; padding:2px 0px;}
.btns .pd4 li span{padding:0px 6px;}
.pd{padding:4px;}
.ac{background-color:#333; color:#fff;}
.hvs{background-color:#555; cursor: pointer;}
.bg_btn{background: url(/Content/admin/images/admin_img/icon2.jpg) no-repeat; width:32px; height:32px;}

ul {
padding:0px;
margin:0px;
}

ul#top_menu li ul {
    display: none;
    height: 25px;
    padding-left: 0px;
}
ul#top_menu li.on ul {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 34px;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#top_menu li ul li {
    background: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 25px;
}
ul#top_menu li ul li a {
    margin: 0;
    padding: 4px 7px 4px 7px;
    background: url(/Content/admin/images/admin_img/line.gif) 100% 50% no-repeat;
    font-size: 13px;
    color: #6e6e6e !important;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: -1px;
    height: 20px;
}
ul#top_menu li ul li:last-of-type a {
    background: none !important;
}
ul#top_menu li ul li a:hover {
    color: #000 !important;
}
ul#top_menu li ul li.on a {
    font-weight: bold;
}
</style>
</head>

<body scroll="no" class="objbody">
<div class="header">
	<div class="logo lf"></div>
    <div class="rt-col">
    	<div class="tab_style white cut_line text-r">
            <ul id="Skin">
		        <li class="s1 styleswitch" rel="styles1"></li>
		        <li class="s2 styleswitch" rel="styles2"></li>
		        <li class="s3 styleswitch" rel="styles3"></li>
                <li class="s4 styleswitch" rel="styles4"></li>
	        </ul>
        </div>
    </div>
    <div class="col-auto">
        @{var manager = Bus.Web.Controllers.AdminController.LoginManger();
          var managerName = manager.RealName;
          var managerType = manager.ManagerType;}

    	<div class="log white cut_line">您好！ [@(managerName)]<span>|</span><a href="/Admin/SignOut">[退出]</a><span></div>
        <ul class="nav white" id="top_menu">
            @if (managerType == "MNG" || managerType == "OPT")
            { 
                <li id="_M1" class="top_menu">
                    <a href="#" hidefocus="true" style="outline:none;">会员管理</a>
                    <ul>
                        <li id="_MP120"><a href="javascript:_MP('120','UsersMain');">会员卡片</a></li>
                        <li id="_MP110"><a href="javascript:_MP('110','UsersList');">会员管理</a></li>
                        <li id="_MP130"><a href="javascript:_MP('130','UsersList2');">位置检索</a></li>
                    </ul>
                </li>
             }

            @if (managerType == "MNG" || managerType == "OPT" || managerType == "USM")
            { 
                <li id="_M5" class="top_menu">
                    <a href="#" hidefocus="true" style="outline:none;">线路乘员</a>
                    <ul>
                        <li id="_MP510"><a href="javascript:_MP('510','LineUserMng');">线路乘员</a></li>
                        @if (managerType == "MNG" || managerType == "OPT")
                        {
                            <li id="_MP520"><a href="javascript:_MP('520','LinePayMng');">线路缴费</a></li>
                        }
                        
                    </ul>
                </li>
                <li id="_M2" class="top_menu">
                    <a href="#" hidefocus="true" style="outline:none;">车辆线路</a>
                    <ul>
                        @if (managerType == "MNG" || managerType == "OPT")
                        {
                            <li id="_MP220"><a href="javascript:_MP('220','DriverList');">司机管理</a></li>
                        }
                        <li id="_MP210"><a href="javascript:_MP('210','BusList');">车辆管理</a></li>
                        <li id="_MP230"><a href="javascript:_MP('230','BusLineList');">路线管理</a></li>
                    </ul>
                </li>
            }
            
            
                <li id="_M6" class="top_menu">
                    <a href="#" hidefocus="true" style="outline:none;">系统报表</a>
                    <ul>
                       <li id="_MP610"><a href="javascript:_MP('610','PayReport');">缴费报表</a></li>

                        @if (managerType == "MNG" || managerType == "OPT")
                        { 
                            <li id="_MP620"><a href="javascript:_MP('620','PayLmngReport');">车长收费报表</a></li>
                        }
                    </ul>
                </li>

            @if (managerType == "MNG")
            {
                <li id="_M3" class="top_menu">
                    <a href="#" hidefocus="true" style="outline:none;">系统管理</a>
                    <ul>
                    
                        <li id="_MP310"><a href="javascript:_MP('310','ManagerList');">管理员管理</a></li>
                        <li id="_MP330"><a href="javascript:_MP('330','UserStateList');">会员状态</a></li>
                        <li id="_MP320"><a href="javascript:_MP('320','PhoneMsg');">发送短信</a></li>
                        <li id="_MP360"><a href="javascript:_MP('360','AddressManager');">地址编辑器</a></li>
                    </ul>
                </li>
            }

            @if (managerType == "MNG" || managerType == "OPT")
            {
                <li id="_M4" class="top_menu">
                    <a href="#" hidefocus="true" style="outline:none;">其他</a>
                    <ul>
                        <li id="_MP410"><a href="javascript:_MP('410','MyContentList');">内容管理</a></li>
                        <li id="_MP420"><a href="javascript:_MP('420','QuestionList');">调查管理</a></li>
                        <li id="_MP430"><a href="javascript:_MP('430','NewsList');">文章管理</a></li>
                        <li id="_MP440"><a href="javascript:_MP('440','OrdersList');">预订管理</a></li>
                    
                    </ul>
                </li>

                <li id="_M7" class="top_menu">
                    <a href="#" hidefocus="true" style="outline:none;">导入&合并</a>
                    <ul>
                        <li id="_MP720"><a href="javascript:_MP('720','MergeSelectTool');">数据合并</a></li>
                         @if (managerType == "MNG")
                         {
                            <li id="_MP710"><a href="javascript:_MP('710','InExcel');">数据导入(谨慎!)</a></li>
                         }
                    </ul>
                </li>

            }
        </ul>
    </div>
</div>
<div id="content">
    <div class="col-1" style="margin-top: 25px;">
        <div class="content" style="overflow: hidden;">
            <iframe name="main" id="main" src="" frameborder="false" scrolling="auto" style="border: none; margin-bottom: 5px;" width="100%" height="auto" allowtransparency="true"></iframe>
        </div>
    </div>
</div>

<script type="text/javascript">
if(!Array.prototype.map)
Array.prototype.map = function(fn,scope) {
  var result = [],ri = 0;
  for (var i = 0,n = this.length; i < n; i++){
	if(i in this){
	  result[ri++]  = fn.call(scope ,this[i],i,this);
	}
  }
return result;
};

var getWindowSize = function(){
return ["Height","Width"].map(function(name){
  return window["inner"+name] ||
	document.compatMode === "CSS1Compat" && document.documentElement[ "client" + name ] || document.body[ "client" + name ]
});
}

window.onload = function (){
	if(!+"\v1" && !document.querySelector) { // for IE6 IE7
        document.body.onresize = resize;
	} else { 
        window.onresize = resize;
	}

	function resize() {
		wSize();
		return false;
	}
}

function wSize(){
	//这是一字符串
	var str=getWindowSize();
	var strs= new Array(); //定义一数组
	strs=str.toString().split(","); //字符分割
	var heights = strs[0] - 150, Body = $('body'); $('#main').height(heights);

	//iframe.height = strs[0]-46;
	if(strs[1]<980){
		$('.header').css('width',980+'px');
		$('#content').css('width',980+'px');
		Body.attr('scroll','');
		Body.removeClass('objbody');
	}else{
		$('.header').css('width','auto');
		$('#content').css('width','auto');
		Body.attr('scroll','no');
		Body.addClass('objbody');
	}
}

wSize();

function menuClass() {
    var obj = new Object();

    obj.defaultMenu = "";
    obj.defaultSubMenu = "";

    return obj;
}

var menu = new menuClass();

function _MP(menuid, targetUrl) {
    $("#main").attr('src', "/admin/" + targetUrl + (targetUrl.indexOf("?") > 0 ? "&" : "?") + 't=' + Math.random());
    $('.top_menu').removeClass("on");
    $('#_M' + menuid.substring(0, 1)).addClass("on");
    menu.defaultMenu = '#_M' + menuid.substring(0, 1);
    menu.defaultSubMenu = '#_MP' + menuid;

    setSelectedMenu(menu);
}

function setSelectedMenu(menu) {
    $(menu.defaultMenu).addClass('on');
    $(menu.defaultSubMenu).addClass('on');
}

$("#top_menu li").bind("mouseover", function () {
    $("#top_menu li").each(function (i, li) { $(li).removeClass("on"); });
    $(this).addClass("on");
});

$("#top_menu li").bind("mouseout", function () {
    $(this).removeClass("on");
    setSelectedMenu(menu);
});


//居住地回调
function setStartPos(lng, lat) {
    $("#main")[0].contentWindow.setStartPos(lng, lat);
}
//工作地回调
function setEndPos(lng, lat) {
    $("#main")[0].contentWindow.setEndPos(lng, lat);
}

//默认页面
function defaultPage(){
    var managerType = "@(managerType)";
    if (managerType == "MNG" || managerType == "") {
        //初始化时显示会员卡片
        _MP('120', 'UsersMain');
    } else if (managerType == "USM") {
        _MP('610', 'PayReport');
    } else if (managerType == "MOT") {
        _MP('610', 'PayReport');
    }
        
}
defaultPage();
</script>
</body>
</html>
