@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<script type="text/javascript" src="/Content/layer-v1.8.4/layer/layer.min.js"></script>

<script type="text/javascript">
    function closeMe() {
        //获取当前窗口索引
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }


    function doSubmit() {

        if ($("#Etc").val().trim() == "") {
            layer.tips('请输入删除的内容！', $("#Etc")[0], { guide: 1, time: 2 });
            return;
        }

        $.ajax({
            url: '/Admin/DelEtc',
            type: 'POST',
            data: { UserID: $("#UserID").val(), Etc: $("#Etc").val() },
            dataType: 'json',
            error: function () {
                alert("发生系统错误更新不成功。");
            },
            success: function (result) {
                if (result.success) {
                    layer.alert('标注删除成功！', 3, !1);
                    parent.location.reload();
                    closeMe();
                }
                else {
                    layer.alert('发生系统错误，更新不成功。', 3, !1);
                }
            }

        });
    }
</script>

<style type="text/css">
    html {
        _overflow-y: scroll;
    }
    th{
        background-color:#f0f0f0;border-bottom-color:#e2e3e3;
    }
</style>

    <input type="hidden" id="UserID" name="UserID" value="@(TheCMS.Common.iRequest.GetQueryString("UserID"))" />

    <div class="common-form">
        
        <table width="100%" class="table_form contentWrap" border="0">
            <tbody>
                <tr>
                    <td id="td_title"></td><td><input type="text" name="Etc" id="Etc" style="width:200px;" value="" /></td>
                </tr>
                <tr>
                    
                </tr>
            </tbody>
        </table>
        <!--table_form_off-->

<br />
<div style="height:30px; text-align:center;">
    <div class="content-menu ib-a blue">
        
        <a href='javascript:doSubmit();' class="on"><em>保存</em></a><span></span>
        <a href='javascript:closeMe();'id="btnClose" class="on"><em>取消</em></a>
    </div>
</div>
</form>

<script type="text/javascript">
    function setTitle() {
        var userID = $("#UserID").val();
        var userAry = userID.split(",");

        $("#td_title").html("<span style='color:red;font-size:larger;'>删除[" + userAry.length + "]</span>人的标注:");
    }

    setTitle();

    $("#Etc").keyup(function (event) {
        if (event.keyCode == 13) {
            doSubmit();
        }
    });
</script>


