@{
    ViewBag.Title = "UsersMain";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model PagedList<Bus.Data.UsersView>
<script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>

<script type="text/javascript">
    //居住地回调
    function setStartPos(lng, lat) {
        //alert("UsersMain.setStartPos");
        $("#UserFrame")[0].contentWindow.setStartPos(lng, lat);
    }
    //工作地回调
    function setEndPos(lng, lat) {
        $("#UserFrame")[0].contentWindow.setEndPos(lng, lat);
    }
</script> 

<style type="text/css">
	html{_overflow-y:scroll}

.curved_box {
    display: inline-block;
    *display: inline;
    width: 99%;
    margin:10px 0 0 0;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    position: relative;
    *zoom: 1;
}

</style>

@{var userID = Request.QueryString["UserID"];}
@{var userType = ((userID == null || userID == "") ? "" : Bus.Data.UsersDB.GetUserType(int.Parse(userID)));}

<div style="margin:0 auto;">
    <div id="left" style="float:left;width:35%;padding-left:3px;">
        <div id="left1"  class="curved_box">
            <iframe id="UserFrame" src="Users?ID=@(userID)" frameborder="0" scrolling="yes" height="475px" width="100%" noresize="noresize"></iframe>
        </div>
    </div>

    <div id="right" style="float:right;width:64%;">
       <div id="right1"  class="curved_box">
              <iframe src="LineUserList?UserID=@(userID)" frameborder="0" scrolling="yes" height="150px" width="100%" noresize="noresize"></iframe>
       </div>
       <div id="right2"  class="curved_box">
               <iframe src="PayList?UserID=@(userID)" frameborder="0" scrolling="yes" height="150px" width="100%" noresize="noresize"></iframe>
       </div>
        @if (userType == "LMNG")
        {
            <div id="right3"  class="curved_box">
                <iframe src="PayLmngList?UserID=@(userID)" frameborder="0" scrolling="yes" height="150px" width="100%" noresize="noresize"></iframe>
            </div>
        }
        
    </div>
</div>