@{
    ViewBag.Title = "密码找回";
    Layout = "~/Views/Shared/L.cshtml";
}

<div class="gridContainer clearfix">
  <div id="LayoutDiv1">
  <div  data-role="page" data-title="" class="jqm-demos"  >

	    <div role="main" class="ui-content jqm-fullwidth">


	<section id="login">
    <form action="" id="myform" method="post">
       	<label class="login_phone"><input type="text" name="Phone" id="Phone" placeholder="请输入您的手机号"/></label> 
        <label class="login_submit"><input type="button" name="submit" onclick="doSubmit()" value="通过短信获取新密码 " /></label>
    </form>
    <aside class="retrieve"><a href="/Home/Register">注册</a><a href="/Home/Login">取回密码</a></aside>
    </section></div></div>
  </div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
</div>
<div data-role="footer" data-position="fixed" data-theme="a" role="contentinfo" class="ui-footer ui-bar-a ui-footer-fixed slideup">
		<div data-role="navbar" class="ui-navbar" role="navigation">
			<ul class="ui-grid-c">
				<li class="tool_btn1 ui-block-a"><a href="/" data-prefetch="true" data-transition="fade" class="ui-btn"></a></li>
				<li class="tool_btn2 ui-block-b"><a href="/Home/MyProfile" data-prefetch="true" data-transition="flip" class="ui-btn"></a></li>
				<li class="tool_btn3 ui-block-c"><a href="/Home/GetBusLine" data-prefetch="true" data-transition="turn" class="ui-btn"></a></li>
				<li class="tool_btn4 ui-block-d"><a href="/Home/myinfo" data-prefetch="true" data-transition="slide" class="ui-btn"></a></li>
			</ul>
		</div><!-- /navbar -->
	</div>

<script type="text/javascript">
    function doSubmit() {
        if ($("#Phone").val() == "") {
            errormsg("请填写您的手机号码.");
            return false;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/Home/GetPassword',
            data: $('#myform').serialize(),// 你的formid
            async: false,
            error: function (request) {
                errormsg("Connection error");
            },
            success: function (data) {
                if (data.success) {
                    successmsg4('/Home/Login', data.message);
                }
                else {
                    errormsg(data.message);
                }
            }
        });
    }
</script>