
<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>@(ViewBag.Title)</title>
<link href="/Content/Temp/style/boilerplate.css" rel="stylesheet" type="text/css">
<link href="/Content/Temp/style/frame.css" rel="stylesheet" type="text/css">
<link href="/Content/Temp/style/base.css" rel="stylesheet" type="text/css">
<link href="/Content/Temp/style/style.css" rel="stylesheet" type="text/css">

<!--组件依赖css begin-->
<link rel="stylesheet" type="text/css" href="/Content/Temp/css/widget/toolbar/toolbar.css" />
<link rel="stylesheet" type="text/css" href="/Content/Temp/skincss/toolbar.default.css" />
<!--皮肤文件，若不使用该皮肤，可以不加载-->
<link rel="stylesheet" type="text/css" href="/Content/Temp/css/widget/button/button.css" />
<link rel="stylesheet" type="text/css" href="/Content/Temp/skincss/button.default.css" />
<!--组件依赖css end-->

<!--组件依赖js begin-->

<script type="text/javascript" src="/Content/Temp/js/zepto.js"></script>
<script type="text/javascript" src="/Content/Temp/js/extend/fix.js"></script>
<script type="text/javascript" src="/Content/Temp/js/core/gmu.js"></script>
<script type="text/javascript" src="/Content/Temp/js/core/event.js"></script>
<script type="text/javascript" src="/Content/Temp/js/core/widget.js"></script>
<script type="text/javascript" src="/Content/Temp/js/widget/toolbar/toolbar.js"></script>
<script type="text/javascript" src="/Content/Temp/js/widget/toolbar/$position.js"></script>
<script type="text/javascript" src="/Content/Temp/js/extend/throttle.js"></script>
<script type="text/javascript" src="/Content/Temp/js/extend/event.scrollStop.js"></script>
<script type="text/javascript" src="/Content/Temp/js/extend/highlight.js"></script>
<script type="text/javascript"  id="test" src="/Content/Temp/js/widget/button/button.js"></script>
<!--组件依赖js end-->


<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="/Content/Temp/respond.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>
    <script type="text/javascript" src="/Content/Common.js"></script>
<style type="text/css">
p { line-height: 2em; }
</style>

</head>
<body>
@(RenderBody())
    <div class="placeholder"></div>  <div class="placeholder"></div>  <div class="placeholder"></div>  <div class="placeholder"></div> 
    <div class="placeholder"></div> 
    <div id="J_toolbar1">
  	  <ul>
      		<li class="tool_btn1"><a href="/Home/MyProfile"></a></li>
            <li class="tool_btn2"><a href="/Home/MyProfile"></a></li>
            <li class="tool_btn3"><a href="/Home/GetBusLine"></a></li>
            <li class="tool_btn4"><a href="/Home/myinfo"></a></li>
        </ul>
    
       </div>
    <script>

        var instance = new gmu.Toolbar('#J_toolbar1');
        instance.position({bottom:0});
</script> 

</body>
</html>
