<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>后台管理中心</title>
<link href="/Content/admin/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/Content/admin/css/zh-cn-system.css" rel="stylesheet" type="text/css" />
<link href="/Content/admin/css/table_form.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/Content/admin/css/style/zh-cn-styles1.css" title="styles1" media="screen" />
	<link rel="alternate stylesheet" type="text/css" href="/Content/admin/css/style/zh-cn-styles2.css" title="styles2" media="screen" />
	<link rel="alternate stylesheet" type="text/css" href="/Content/admin/css/style/zh-cn-styles3.css" title="styles3" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="/Content/admin/css/style/zh-cn-styles4.css" title="styles4" media="screen" />
<script language="javascript" type="text/javascript" src="/Content/admin/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/Content/admin/js/admin_common.js"></script>
<script language="javascript" type="text/javascript" src="/Content/admin/js/styleswitch.js"></script>

@RenderSection("HeadScript",false)
<script type="text/javascript">
    function DelData(action, dataID) {
        if (confirm("你确定要删除该数据吗？")) {
            $.ajax({
                url: '/Admin/DelData?act=' + action,
                type: 'get',
                data: { dataID: dataID },
                dataType: 'json',
                error: function () {
                    alert("发生系统错误，删除不成功。");
                },
                success: function (result) {
                    if (result.success) {
                        window.location.href = window.location.href;
                    }
                    else {
                        alert("发生错误，删除不成功。");
                    }
                }

            });
        }
    }
    function DelDataNew(action, dataID, dataName) {
        if (confirm("你确定要删除该数据吗？")) {
            $.ajax({
                url: '/Admin/DelDataNew?act=' + action,
                type: 'get',
                data: { dataID: dataID, dataName: dataName },
                dataType: 'json',
                error: function () {
                    alert("发生系统错误，删除不成功。");
                },
                success: function (result) {
                    if (result.success == true) {
                        window.location.href = window.location.href;
                    }
                    else {
                        alert(result.success);
                    }
                }

            });
        }
    }

    function DelMultiData(action, dataID) {
        if (confirm("你确定要删除该数据吗？")) {
            $.ajax({
                url: '/Admin/DelMultiData?act=' + action,
                type: 'get',
                data: { dataIds: dataID },
                dataType: 'json',
                error: function () {
                    alert("发生系统错误，删除不成功。");
                },
                success: function (result) {
                    if (result.success) {
                        window.location.href = window.location.href;
                    }
                    else {
                        alert("发生错误，删除不成功。");
                    }
                }

            });
        }
    }
</script>
</head>
<body>
    @RenderBody()
</body>
</html>
