<div data-role="footer" data-position="fixed" data-theme="a" role="contentinfo" class="ui-footer ui-bar-a ui-footer-fixed slideup">
		<div data-role="navbar" class="ui-navbar" role="navigation">
			<ul class="ui-grid-c">
				<li class="tool_btn1 ui-block-a"><a href="/" data-prefetch="true" data-transition="fade" class="ui-btn"></a></li>
				<li class="tool_btn2 ui-block-b"><a href="/Home/MyProfile" data-prefetch="true" data-transition="flip" class="ui-btn"></a></li>
				<li class="tool_btn3 ui-block-c"><a href="/Home/GetBusLine" data-prefetch="true" data-transition="turn" class="ui-btn"></a></li>
				<li class="tool_btn4 ui-block-d"><a href="/Home/myinfo" data-prefetch="true" data-transition="slide" class="ui-btn"></a></li>
			</ul>
		</div><!-- /navbar -->
	</div>