@{
    Layout = null;
}
<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>@(ViewBag.Title)</title>
<!-- change by tbosoft -->
<link rel="stylesheet" href="/Content/T/css/base.css" />
<link rel="stylesheet" href="/Content/T/css/common.css" />
<link rel="stylesheet" type="text/css" href="/Content/T/js/web/slider/global.css" />
<link rel="stylesheet" href="/Content/T/css/index.css" />
<link href="/Content/T/plugin/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=4120616832068ff1d7ce43fc3d4fee6f"></script>
<script type="text/javascript" src="/Content/T/js/web/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Content/T/js/web/jquery.cookie.js"></script>
<script type="text/javascript" src="/Content/T/js/web/common.js"></script>
<script src="/Content/T/plugin/jquery.bxslider/jquery.bxslider.min.js" type="text/javascript"></script>
<!-- change end by tbosoft -->

<link href="/Content/Temp/style/frame.css" rel="stylesheet" type="text/css">
<link href="/Content/Temp/style/base.css" rel="stylesheet" type="text/css">
<link href="/Content/Temp/style/style.css" rel="stylesheet" type="text/css">


<!--组件依赖css begin-->
<link rel="stylesheet" type="text/css" href="/Content/Temp/css/widget/toolbar/toolbar.css" />
<link rel="stylesheet" type="text/css" href="/Content/Temp/skincss/toolbar.default.css" />
<!--皮肤文件，若不使用该皮肤，可以不加载-->
<link rel="stylesheet" type="text/css" href="/Content/Temp/css/widget/button/button.css" />
<link rel="stylesheet" type="text/css" href="/Content/Temp/skincss/button.default.css" />
<!--组件依赖css end-->

<!--组件依赖js begin-->

<script type="text/javascript" src="/Content/Temp/js/zepto.js"></script>
<script type="text/javascript" src="/Content/Temp/js/extend/fix.js"></script>
<script type="text/javascript" src="/Content/Temp/js/core/gmu.js"></script>
<script type="text/javascript" src="/Content/Temp/js/core/event.js"></script>
<script type="text/javascript" src="/Content/Temp/js/core/widget.js"></script>
<script type="text/javascript" src="/Content/Temp/js/widget/toolbar/toolbar.js"></script>
<script type="text/javascript" src="/Content/Temp/js/widget/toolbar/$position.js"></script>
<script type="text/javascript" src="/Content/Temp/js/extend/throttle.js"></script>
<script type="text/javascript" src="/Content/Temp/js/extend/event.scrollStop.js"></script>
<script type="text/javascript" src="/Content/Temp/js/extend/highlight.js"></script>
<script type="text/javascript"  id="test" src="/Content/Temp/js/widget/button/button.js"></script>
<!--组件依赖js end-->


<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="/Content/Temp/respond.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>
    <script type="text/javascript" src="/Content/Common.js"></script>
        <script type="text/javascript">
            $(function () {
                var reg = new RegExp(".*?(\\.)");
                var path = location.pathname;
                var name;
                //if (path.indexOf("vote") > -1) {
                //    //                var cookiehref = $.cookie('targeturl');
                //    //                if (cookiehref != null && cookiehref != undefined && cookiehref != "") {
                //    //                    var result = cookiehref.match(reg);
                //    //                    name = result[0].substring(1, result[0].length - 1).toLowerCase().replace(/\//g, '');
                //    //                }
                //    //                else {
                //    name = "votevote";
                //    // }
                //}
                if (path.indexOf("index") > -1) {
                    var cookiehref = $.cookie('targeturl');
                    if (cookiehref != null && cookiehref != undefined && cookiehref != "") {
                        if (cookiehref.indexOf("period/detail.aspx") > 0) {
                            name = "periodlist";
                        }
                        else {
                            var result = cookiehref.match(reg);
                            name = result[0].substring(1, result[0].length - 1).toLowerCase().replace(/\//g, '');
                        }

                    }
                    else {
                        name = "periodlist";
                    }
                }
                else if (path.indexOf("vote") > -1) {
                    name = "votevote";
                }
                else if (path.indexOf("home") > -1) {
                    name = "home";
                }
                else if (path == "") {
                    name = "home";
                }
                $('.nav li').removeClass("selected");
                $('#' + name).addClass("selected");

                //=============online==============
                var $onlineSwitch = $("#online .switch");
                var $onlineBlock = $("#online .online_block");
                $onlineSwitch.on("click", function () {
                    var $span = $onlineSwitch.find("span");
                    $span.text($span.text() == "《" ? "》" : "《");
                    $onlineBlock.toggle();
                });

            });
    </script>
<style type="text/css">
p { line-height: 2em; }
</style>

</head>
<body>
    <div class="header">
        <div class="wrapper">
            <div class="user_block clearfix">
                  <div class="first"></div>
                  <div class="mid">

                 @if (TheCMS.Common.Cookie.GetCookie("UserID") == null || TheCMS.Common.Cookie.GetCookie("UserID").ToString() == "")
                {
                    <a class="orange" href="/Home/Login">登录</a><span>|</span><a class="orange" href="/Home/Register">注册</a>
                }
                else
                {
                     @(TheCMS.Common.Cookie.GetCookie("UserID"))@:&nbsp; &nbsp;<a href="/Home/SignOut">退出</a>
                }<span>|</span>
                客服：18940981526
                </div>
                <div class="last"></div>
            </div>
            <div class="header_block clearfix">
                <div  class="toppanel">
                <div class="logo">
                    <img src="/Content/T/images/logo.png" alt="" /></div>
                    <ul id="one_caidan" class="links">
                    <li class="ap1"><a id="index" href="/" class="current">首 页</a></li>
                    <li class="ap2"><a id="function" href="/Home/GetBusLine">班线查询</a></li>
                    <li class="ap3"><a id="download" href="#">出行调查</a></li>
                    <li class="ap4"><a id="myanav" href="#">包车预订</a></li>
                    <li class="ap5"><a id="playanav" href="#">服务中心</a></li>
                    </ul>
                    </div>
            </div>
        </div>
    </div>
    <div id="ContentBlock" class="container wrapper">
    @(RenderBody())
    </div>
    <div class="footer">
        <div class="wrapper">
            <p class="copyright">
                CopyRight ©2014 orderbus.cn 版权所有：大连定制公交 技术支持：千年龙港(大连)服务有限公司<br />
                辽ICP备11008813号 地址：中国 大连 软件园公会服务中心 邮编：106000
            </p>
        </div>
    </div>
    <div class="online" id="online">
        <div class="switch">
            在线客服 <span>》</span></div>
        <div class="online_block">
            <h2 class="title">
                QQ在线客服</h2>
            <ul>
                <li>
                    <A 
href="http://wpa.qq.com/msgrd?v=3&amp;uin=2396962277&amp;site=qq&amp;menu=yes" 
target=_blank><img style="cursor: pointer"  border="0" src="/Content/T/images/zx_qq.gif"></A></li>
                <li>
                    <A 
href="http://wpa.qq.com/msgrd?v=3&amp;uin=2601122337&amp;site=qq&amp;menu=yes" 
target=_blank><img style="cursor: pointer" 
                        border="0" src="/Content/T/images/zx_qq.gif"></A></li>
                <li>
                    <A 
href="http://wpa.qq.com/msgrd?v=3&amp;uin=898101975&amp;site=qq&amp;menu=yes" 
target=_blank><img style="cursor: pointer" 
                        border="0" src="/Content/T/images/zx_qq.gif"></A></li>
            </ul>
        </div>
    </div>
</body>
</html>
